body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

div#banner {
    display: block;
    padding: 0px 15px;
    position: fixed;
    top: 0;
    left: 25%;
    width: 100%;
    background-color: #065790;
}

div#main-body {
    padding-top: 95px;
}

div#banner-content {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #A9A9A9;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.home {
    padding: 8px 8px;
}

li a.active {
    background-color: #0080FF;
    color: black;
}

li a.header {
    background-color: #000000;
    color: white;
    padding: 8px 8px;
}

li a:hover:not(.active):not(.header) {
    background-color: #66B3FF;
    color: black;
}

input[type=text] {
    padding: 5px;
    border: none;
    border-bottom: solid 2px #C9C9C9;
    transition: border 0.4s;
    outline: none;
}

input[type=text]:focus,
input[type=text].focus {
    border-bottom: solid 2px #000000;
    color: black;
}

input[type=submit] {
    background: #CCCCCC;
    border: 1px solid #000000;
    border-radius: 25px;
    width: auto;
    height: auto;
    font-size: 1.0em;
}

input[type=submit]:hover {
    background: #66B3FF;
    color: white;
    font-weight: bold;
}

tr:hover{background-color:#f5f5f5}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

a {
  color: #5097C9;
  text-decoration: none;
}